body {
    background-color: #1F2937;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.links a, .secondaryText {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.mainText {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}


.firstSection {
    /*
   display: flex;
   flex-flow: row;
   justify-content: center;
   justify-items: center;
   gap: 20px;
   */
   display: flex;
   /* wrap reverse fixed the image not lining up properly with the text on the left side */
   flex-flow: row wrap-reverse;
   justify-content:  center;
   gap: 10px;
   margin: 75px 0;
}

.firstSectionLeft {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.image {
    background-color: darkgrey;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupButton1 {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    font-weight: 600;
}

.secondSection {
    background-color: #F9FAF8;
    padding: 15px;
}

.infoHeader {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
}


.gallery {
    list-style-type: none;
    color: #1F2937;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.img {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 20px;
    display: flex;
}

.thirdSection {
    background-color: #E5E7EB;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    width: 50%;
    align-content: center;
    justify-content: center;
}

.attribution {
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
}


.fourthSection {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.action {
    background-color: #3882F6;
    margin: 100px;
    border-radius: 10px;
    display: flex;
    color: #F9FAF8;
    padding: 0px 100px;
}


.fourthSectionLeft {
    display: flex;
    flex-direction: column;
}

.fourthSectionRight {
    display: flex;
    padding: 60px;
}

.signupButton2 {
    width: 100px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #3882F6;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}

.primaryText {
    font-size: 24px;
    font-weight: 700;
    display: flex;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    color: #E5E7EB;
}

